<!DOCTYPE html>
<html lang="en" data-theme="wireframe">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.vercel-insights.com/v1/script.debug.js"></script>
    <style>
        body {
            overflow-y: scroll;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        #product_description {
              word-break: break-word;
  overflow-wrap: break-word;
        }
   
    </style>
    <title>Indecisive Nerd</title>
</head>

<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl underline">Indecisive Nerd</a>
        </div>
        <div class="flex-none">
            <button onclick="my_modal_3.showModal()">
                <svg class="bg-gray-200 rounded-full" width="30" height="30" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 4.5V19.5M19.5 12L4.5 12" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
            <dialog id="my_modal_3" class="modal bg-gray-900">
                <div class="modal-box outline bg-transparent glass">
                    <!-- Close button -->
                    <form method="dialog">
                        <button class="btn btn-sm btn-circle  absolute right-2 top-2">✕</button>
                    </form>
                    <!-- Form inside modal with HTMX -->
                    <form id="newProduct" class="flex flex-col align-center justify-center gap-4 p-4"
                        enctype="application/x-www-form-urlencoded" hx-post="/new" hx-trigger="submit"
                        onsubmit="return validateDescription()"
                        hx-on:htmx:after-request="if (event.detail.xhr.status === 200) {  resetForm(newProduct) ; closeModal(); showToast(`Product added successfully`); window.location.reload()}">
                        <input type="text" name="description" id="description" minlength="60"
                            placeholder="Enter description (minimum 60 characters)" required
                            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50">
                        <span id="error-message" class="text-red-500 text-sm hidden">Description must be at least 60
                            characters long.</span>
                        <button type="submit" class="btn btn-secondary">Add</button>
                    </form>
                </div>
            </dialog>
        </div>
    </div>
    <div id="data-container" class="flex flex-wrap justify-center items-center gap-4 py-10">

    </div>

    <script>
        async function fetchData() {
            const response = await fetch('/all');
            const data = await response.json();
            const dataContainer = document.getElementById('data-container');
            data.forEach(item => {
                const cardDiv = document.createElement('div');
                cardDiv.className = 'card card-compact max-sm:w-72 w-96 shadow-xl border border-gray-950 border-4';
                const cardBody = document.createElement('div');
                cardBody.className = 'card-body';
                const title = document.createElement('p');
                title.className = 'card-title text-gray-900 text-center text-md';
                title.textContent = item.description;
                title.id = "product_description"
                const actions = document.createElement('div');
                actions.className = 'card-actions justify-center pt-4';
                const yes = document.createElement('button');
                yes.className = 'btn btn-outline yes';
                yes.id = item._id
                yes.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
  <path fill-rule="evenodd" d="M11.47 2.47a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06l-6.22-6.22V21a.75.75 0 0 1-1.5 0V4.81l-6.22 6.22a.75.75 0 1 1-1.06-1.06l7.5-7.5Z" clip-rule="evenodd" />
</svg> ${item.yes}`;

                yes.addEventListener('click', async () => {
                    try {
                        const response = await fetch('/yes', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ id: yes.id })
                        });
                        if (response.ok) {
                            const responseData = await response.json();
                            console.log(responseData);
                            yes.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
  <path fill-rule="evenodd" d="M11.47 2.47a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06l-6.22-6.22V21a.75.75 0 0 1-1.5 0V4.81l-6.22 6.22a.75.75 0 1 1-1.06-1.06l7.5-7.5Z" clip-rule="evenodd" />
</svg> ${responseData.yes}`;
                        } else if (response.status === 403) {
                            showErrorToast("Bhai bas karde kyu dabara hai button bar bar ")
                        }
                    } catch (error) {
                        console.error('Error:', error);
                    }
                });
                const no = document.createElement('button');
                no.className = 'btn btn-outline no';
                no.id = item._id
                no.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
  <path fill-rule="evenodd" d="M12 2.25a.75.75 0 0 1 .75.75v16.19l6.22-6.22a.75.75 0 1 1 1.06 1.06l-7.5 7.5a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 1 1 1.06-1.06l6.22 6.22V3a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
</svg>
 ${item.no}`;

                no.addEventListener('click', async () => {
                    try {
                        const response = await fetch('/no', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ id: no.id })
                        });
                        if (response.ok) {
                            const responseData = await response.json();
                            console.log(responseData);
                            no.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
  <path fill-rule="evenodd" d="M12 2.25a.75.75 0 0 1 .75.75v16.19l6.22-6.22a.75.75 0 1 1 1.06 1.06l-7.5 7.5a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 1 1 1.06-1.06l6.22 6.22V3a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
</svg> ${responseData.no}`;
                        } else if (response.status === 403) {
                            showErrorToast("Bhai bas karde kyu dabara hai button bar bar ")
                        }
                    } catch (error) {
                        console.error('Error:', error);
                    }
                });
                actions.appendChild(yes)
                actions.appendChild(no)
                cardBody.appendChild(title);
                cardBody.appendChild(actions);
                cardDiv.appendChild(cardBody);
                dataContainer.appendChild(cardDiv);
            });
        }

        window.onload = fetchData;

        function closeModal() {
            const modal = document.getElementById('my_modal_3');
            if (modal) {
                modal.close();
            }
        }

        function showErrorToast(message) {
            const toast = document.createElement('div');
            toast.className = 'bg-red-500 text-white p-2 rounded fixed';
            toast.style.top = '1rem';
            toast.style.left = '50%';
            toast.style.transform = 'translateX(-50%)';
            toast.style.zIndex = '1000';
            toast.innerText = message;
            document.body.appendChild(toast);
            setTimeout(() => {
                document.body.removeChild(toast);
            }, 3000); // The toast disappears after 3 seconds
        }

        function showSuccessToast(message) {
            const toast = document.createElement('div');
            toast.className = 'bg-green-500 text-white p-2 rounded fixed';
            toast.style.top = '1rem';
            toast.style.left = '50%';
            toast.style.transform = 'translateX(-50%)';
            toast.style.zIndex = '1000';
            toast.innerText = message;
            document.body.appendChild(toast);
            setTimeout(() => {
                document.body.removeChild(toast);
            }, 3000); // The toast disappears after 3 seconds
        }

        function resetForm(formId) {
            const form = document.getElementById(formId);
            if (form) {
                form.reset();
            }
        }

        function validateDescription() {
            const descriptionInput = document.getElementById('description');
            const errorMessage = document.getElementById('error-message');

            if (descriptionInput.value.length < 60) {
                errorMessage.classList.remove('hidden');
                return false; // Prevent form submission
            } else {
                errorMessage.classList.add('hidden');
                return true; // Allow form submission
            }
        }
        validateDescription()
    </script>
</body>

</html>